* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, span::selection, div::selection{
  background: #ff4258;
  color: white;
}

.mycl-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  font-size: 1.8vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
}

nav img:hover{
  cursor: pointer;
  scale: 0.9;
  transition: all 0.3s ease-in;
}

nav .mycl-nav-item:hover{
  cursor: pointer;
  scale: 0.9;
  transition: all 0.3s ease-in;
  color: #ff4258;
  font-weight: 700;
}


.mycl-right {
  display: flex;
  gap: 3vw;
}

.mycl-social-icons-div {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}

.mycl-social-icons-div :nth-child(1) :nth-child(1){
  color: #3b5998;
}

.mycl-social-icons-div :nth-child(2) :nth-child(1){
  color: #00acee;
}

.mycl-social-icons-div :nth-child(3) :nth-child(1){
  color: #0077b5;
}

.mycl-social-icons-div :nth-child(4) :nth-child(1){
  color: #c13584;
}

.mycl-social-icons-div a i:hover{
  cursor: pointer;
  scale: 1.1;
  transition: all 0.3s ease-in;
}

.mycl-right button {
  border: none;
  background-color: rgb(255 65 85);
  padding: 1vw 2vw;
  color: white;
  font-weight: 700;
}

.mycl-right button:hover{
  cursor: pointer;
  scale: 0.9;
  transition: all 0.4s;
  border: 2px solid #ff4258;
  background-color: white;
  color: #ff4258;
}

/* Hero Section */

.hero-section {
  margin-top: 5vw;
  height: 55vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.mycl-hero-left {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.mycl-hero-left h1 {
  font-size: 2.5vw;
  color: #1c165c;
  font-weight: 800;
}

.mycl-hero-left p {
  font-size: 1.5vw;
}

.mycl-hero-left .mylc-hero-buttons-div {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-top: 1vw;
}

.mycl-hero-right img {
  width: 40vw;
}

.mycl-hero-right img:hover{
  cursor: pointer;
  scale: 0.9;
  transition: all 0.3s ease-in;
}

.mycl-hero-left .mylc-hero-buttons-div .gs-btn {
  border: none;
  background-color: #660ff2;
  padding: 1vw 2vw;
  color: white;
  font-weight: 700;
}

.mycl-hero-left .mylc-hero-buttons-div .gs-btn:hover{
  cursor: pointer;
  scale: 0.9;
  transition: all 0.4s;
  border: 2px solid #660ff2;
  background-color: white;
  color: #660ff2;
}

.mycl-hero-left .mylc-hero-buttons-div .pb {
  border: none;
  border: 1px solid #ff4258;
  border-radius: 50%;
  padding: 1vw 1.5vw;
  background-color: white;
}

.mycl-hero-left .mylc-hero-buttons-div .pb i {
  color: #ff4258;
}

.mycl-hero-left .mylc-hero-buttons-div .pb:hover{
  cursor: pointer;
  scale: 0.9;
  transition: all 0.4s;
  border: 2px solid #ff4258;
  background-color: #ff4258;
  color: white;
}

.mycl-hero-left .mylc-hero-buttons-div .pb:hover i{
  color: white;
}

.mycl-hero-left .mylc-hero-buttons-div h6 {
  color: #ff4258;
  font-weight: 700;
}

/* Section 1 */

.mycl-section-1 {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mycl-section-1-heading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 5vw;
}

.mycl-section-1-heading-div h3 {
  font-weight: 700;
  font-size: 1.5vw;
}

.mycl-section-1-heading-div h1 {
  color: #1c165c;
  font-weight: 800;
  font-size: 2.5vw;
  text-align: center;
}

.mycl-section-1-cards-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.mycl-card-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding: 2vw;
  border-radius: 1vw;
  width: 15vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mycl-card-section-1:hover {
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  background-color: #ff4258;
  color: white;
}

.mycl-card-section-1:hover h1 { 
  color: white;
}

.mycl-card-section-1:hover p {
  color: white;
}

.mycl-card-section-1:hover h2 {
  color: white;
}

.mycl-card-section-1:hover img {
  filter: invert(1);
}

.mycl-card-section-1 h1 {
  color: #1c165c;
  font-weight: 800;
  font-size: 1.5vw;
  text-align: center;
}

.mycl-section-1-cards-div img {
  width: 5vw;
}

.mycl-card-section-1 p {
  text-align: center;
  font-size: 1.2vw;
}

.mycl-card-section-1 h2 {
  color: #1c165c;
  font-weight: 700;
  font-size: 1.5vw;
}

.mycl-card-section-1-pink {
  background-color: #ff4258;
}

.mycl-card-section-1-pink:hover {
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  background-color: white;
}

.mycl-card-section-1-pink:hover h1 { 
  color: #1c165c;
}

.mycl-card-section-1-pink:hover p {
  color: black;
}

.mycl-card-section-1-pink:hover h2 {  
  color: #1c165c;
}

.mycl-card-section-1-pink:hover img {
  filter: invert(0);
}

.mycl-card-section-1-pink h1 {
  color: white;
}

.mycl-card-section-1-pink p {
  color: white;
}

.mycl-card-section-1-pink h2 {
  color: white;
}

.mycl-card-section-1-pink img {
  filter: invert(1);
}

/* Section 2 */

.mycl-section-2 {
  display: flex;
  margin-top: 5vw;
  align-items: center;
  gap: 2vw;
}

.mycl-section-2-left img {
  width: 40vw;
  border-radius: 10px;
}

.mycl-section-2-left img:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
}

.mycl-section-2-right {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.mycl-section-2-right h6 {
  font-weight: 700;
  font-size: 1.5vw;
}

.mycl-section-2-right h1 {
  color: #1c165c;
  font-weight: 800;
  font-size: 2.5vw;
  text-align: left;
}

.mycl-section-2-right p {
  font-size: 1.5vw;
  text-align: left;
}

.mycl-section-2-right button {
  background-color: #660ff2;
  color: white;
  border: none;
  padding: 1vw 2vw;
  font-weight: 600;
  width: 50%;
}

.mycl-section-2-right button:hover {
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  border: 3px solid #660ff2;
  background-color: white;
  color: #660ff2;
}

/* Section 3 */

.mycl-section-3 {
  display: flex;
  margin-top: 5vw;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.mycl-section-3-left {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.mycl-section-3-left h6 {
  font-weight: 700;
  font-size: 1.5vw;
}

.mycl-section-3-left h1 {
  color: #1c165c;
  font-weight: 800;
  font-size: 2.5vw;
  text-align: left;
}

.mycl-section-3-left p {
  font-size: 1.5vw;
  text-align: left;
}

.mycl-section-3-right img {
  width: 35vw;
  border-radius: 10px;
}

.mycl-section-3-upper-feature {
  display: flex;
  gap: 2vw;
  margin-bottom: 2vw;
}

.mycl-section-3-bottom-feature {
  display: flex;
  gap: 2vw;
}

.mycl-section-3-upper-feature img {
  width: 5vw;
}

.mycl-section-3-bottom-feature img {
  width: 5vw;
}

.mycl-section-3-upper-feature-right h3 {
  color: #1c165c;
  font-weight: 700;
  font-size: 1.5vw;
  text-align: left;
}

.mycl-section-3-bottom-feature-right h3 {
  color: #1c165c;
  font-weight: 700;
  font-size: 1.5vw;
  text-align: left;
}

.mycl-upper-feature-right h3{
  color: #1c165c;
  font-weight: 700;
  font-size: 2vw;
  text-align: left;
}

.mycl-bottom-feature-right h3{
  color: #1c165c;
  font-weight: 700;
  font-size: 2vw;
  text-align: left;
}

/* Section 4 */

.mycl-section-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  gap: 4vw;
}

.mycl-section-4-upper{
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mycl-section-4-upper h6{
  font-weight: 700;
  font-size: 1.5vw;
  text-align: left;
}

.mycl-section-4-upper h1{
  color: #1c165c;
  font-weight: 800;
  font-size: 2.5vw;
  text-align: left;
}

.mycl-section-4-upper-right{
  display: flex;
  gap: 1vw;
}

.mycl-section-4-upper-right-less-than-div{
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 4vw;
  height: 4vw;
  display: flex;
  font-size: 2vw;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.mycl-section-4-upper-right-less-than-div:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  border: 1px solid #ff4258;
  background-color: #ff4258;
  color: white;
}

.mycl-section-4-upper-right-greater-than-div{
  background-color: #ff4258;
  color: white;
  border: 1px solid #ff4258;
  width: 4vw;
  height: 4vw;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.mycl-section-4-upper-right-greater-than-div:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  border: 1px solid #ff4258;
  background-color: white;
  color: #ff4258;
}

.mycl-section-4-bottom{
  display: flex;
  gap: 2vw;
}

.mycl-section-4-bottom img{
  width: 20vw;
  border-radius: 10px;
}

.mycl-section-4-bottom img:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
}

/* Section 5 */

.mycl-section-5{
  display: flex;
  margin-top: 5vw;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.mycl-section-5-left{
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.mycl-section-5-left h6{
  font-weight: 700;
  font-size: 1.5vw;
}

.mycl-section-5-left h1{
  color: #1c165c;
  font-weight: 800;
  font-size: 2.5vw;
  text-align: left;
}

.mycl-section-5-left p{
  font-size: 1.5vw;
  text-align: left;
}

.mycl-section-5-right img{
  width: 35vw;
  border-radius: 10px;
}

.mycl-section-5-right img:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
}

.mycl-section-5-left .gsp{
  border: none;
  background-color: #660ff2;
  padding: 1vw 2vw;
  color: white;
  font-weight: 700;
  margin-top: 1vw;
}

.mycl-section-5-left .gsp:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  background-color: white;
  color: #660ff2;
  border: 3px solid #660ff2;
}

.mycl-section-5-left .hsn{
  border: none;
  border: 1px solid #ff4258;
  padding: 1vw 2vw;
  color: #ff4258;
  font-weight: 700;
  margin-top: 1vw;
  background-color: white;
}

.mycl-section-5-left .hsn i{
  color: #ff4258;
}

.mycl-section-5-left .hsn:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  background-color: #ff4258;
  color: white;
}

.mycl-section-5-left .hsn:hover i{
  color: white;
}

.mycl-section-5-buttons-div{
  display: flex;
  gap: 2vw;
}

/* Section 6 */

.mycl-section-6{
  display: flex;
  margin-top: 5vw;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  flex-direction: column;
}

.mycl-section-6-upper{
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.mycl-section-6-upper h6{
  font-weight: 700;
  font-size: 1.5vw;
}

.mycl-section-6-upper h1{
  color: #1c165c;
  font-weight: 800;
  font-size: 2.5vw;
  text-align: center;
}

.mycl-section-6-bottom{
  display: flex;
  gap: 3vw;
}

.mycl-section-6-bottom img{
  width: 8vw;
  filter: invert(32%) sepia(81%) saturate(2132%) hue-rotate(332deg) brightness(111%) contrast(101%);
}

.mycl-section-6-bottom-card{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.mycl-section-6-cards-number{
  background-color: white;
  color: #ff4258;
  border: 1px solid #ff4258;
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: 700;
  font-size: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.mycl-section-6-cards-number:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  background-color: #ff4258;
  color: white;
}

.mycl-section-6-bottom-card h4{
  font-weight: 700;
  font-size: 1.8vw;
  color: #1c165c;
}

.mycl-section-6-bottom-card p{
  font-size: 1.5vw;
  text-align: center;
}

.mycl-section-6-cards-number-pink{
  background-color: #ff4258;
  color: white;
  border: 1px solid #ff4258;
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: 700;
  font-size: 1.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.mycl-section-6-cards-number-pink:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  background-color: white;
  color: #ff4258;
}

/* Section 7 */

.mycl-section-7{
  display: flex;
  margin-top: 5vw;
  align-items: center;
  /* height: 30vh; */
  justify-content: center;
  gap: 2vw;
  flex-direction: column;
  background-color: #FAFAFE;
  background-image: linear-gradient(from 50% rgba(0,0,0,0,0.1));  
}

.mycl-section-7-upper{
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 2vw;
}

.mycl-section-7-upper h6{
  font-weight: 700;
  font-size: 1.5vw;
}

.mycl-section-7-upper h1{
  color: #1c165c;
  font-weight: 800;
  font-size: 2.5vw;
  text-align: center;
}

.mycl-section-7-bottom{
  display: flex;
  gap: 2vw;
}

.mycl-section-7-bottom-card{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  width: 25vw ;
}

.mycl-section-7-bottom-card h4{
  font-weight: 700;
  font-size: 1.6vw;
  text-align: center;
  color: #1c165c;
}

.mycl-section-7-bottom-card p{
  font-size: 1.5vw;
  text-align: left;
}

.mycl-section-7-bottom-card img{
  width: 25vw;
  height: 25vw;
}

.mycl-section-7-bottom-card img:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
}

.mycl-section-7-cr-div{
  display: flex;
  gap: 2vw;
  align-items: center;
}

.mycl-section-7-cr-1st{
  border-bottom: 2px solid #ff4258;
  width: 3vw;
}

.mycl-section-7-cr-2nd{
  color: #1c165c;
  font-weight: 700;
  font-size: 1.5vw;
}

/* Footer */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c165c;
  color: white;
  margin-top: 5vw;
}

.mycl-footer-divs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 20vw;
  margin: 5vw 0vw;
}

.mycl-footer-divs h5{
  font-weight: 700;
  font-size: 2vw;
}

.mycl-footer-divs p{
  font-size: 1.5vw;
}

.mycl-footer-divs p:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  color: #ff4258;
}

.mycl-footer-social-icons{
  display: flex;
  gap: 1vw;
  font-size: 1.5vw;
}

.mycl-footer-social-div:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
  border: 3px solid #ff4258;
}

.mycl-footer-social-div:hover i{
  color: #ff4258;
}

.mycl-footer-social-div{
  border: 1px solid white;
  border-radius: 100%;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mycl-footer-divs img{
  width: 8vw;
  filter: invert(100%);
}

.mycl-footer-divs img:hover{
  cursor: pointer;
  scale: 0.95;
  transition: all 0.3s ease-in;
}

/* Media Queries */

@media screen and ((min-width: 768px) and (max-width: 1024px)) {
  /* nav section media queries */
  
  .mycl-center {
    font-size: 1.5vw;
    gap: 1vw;
  }

  nav {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .mycl-right button {
    padding: 1vw 2vw;
    font-size: 1vw;
  }

  /* hero section media queries */

  .mycl-hero-left h1 {
    font-size: 3vw;
  }

  .mycl-hero-left p {
    font-size: 2vw;
  }

  .mylc-hero-buttons-div {
    gap: 3vw;
  }

  .mylc-hero-buttons-div .gs-btn {
    padding: 2vw 3vw;
  }

  .mylc-hero-buttons-div .pb {
    padding: 2vw 3vw;
  }

  .mylc-hero-buttons-div h6 {
    font-size: 2vw;
  }

  .mylc-hero-buttons-div h6 {
    font-size: 2vw;
  }

  .mylc-hero-buttons-div h6 {
    font-size: 2vw;
  }

  /* section 1 media queries */

  .mycl-section-1-heading-div h3 {
    font-size: 2vw;
  }

  .mycl-section-1-heading-div h1 {
    font-size: 3vw;
  }

  .mycl-card-section-1 h1 {
    font-size: 2vw;
  }

  .mycl-card-section-1 p {
    font-size: 1.5vw;
  }

  .mycl-card-section-1 h2 {
    font-size: 2vw;
  }

  .mycl-section-1-cards-div img {
    width: 6vw;
  }

  /* section 2 media queries */

  .mycl-section-2-left img {
    width: 45vw;
  }

  .mycl-section-2-right h6 {
    font-size: 2vw;
  }

  .mycl-section-2-right h1 {
    font-size: 3vw;
  }

  .mycl-section-2-right p {
    font-size: 2vw;
  }

  .mycl-section-2-right button {
    padding: 1vw 2vw;
  }

  /* section 3 media queries */

  .mycl-section-3-left h6 {
    font-size: 2vw;
  }

  .mycl-section-3-left h1 {
    font-size: 3vw;
  }

  .mycl-section-3-left p {
    font-size: 2vw;
  }

  .mycl-section-3-upper-feature h3 {
    font-size: 2vw;
  }

  .mycl-section-3-upper-feature p {
    font-size: 1.5vw;
  }

  .mycl-section-3-bottom-feature h3 {
    font-size: 2vw;
  }

  .mycl-section-3-bottom-feature p {
    font-size: 1.5vw;
  }

  .mycl-section-3-upper-feature img {
    width: 6vw;
  }

  .mycl-section-3-bottom-feature img {  
    width: 6vw;
  }

  /* section 4 media queries */

  .mycl-section-4-left h6 {
    font-size: 2vw;
  }

  .mycl-section-4-left h1 {
    font-size: 3vw;
  }

  .mycl-section-4-bottom img {
    width: 25vw;
  }

  .mycl-section-4-bottom img {
    width: 25vw;
  }

  .mycl-section-4-bottom img {
    width: 25vw;
  }

  .mycl-section-4-bottom img {
    width: 25vw;
  }

  /* section 5 media queries */

  .mycl-section-5-left h6 {
    font-size: 2vw;
  }

  .mycl-section-5-left h1 {
    font-size: 3vw;
  }

  .mycl-section-5-left p {
    font-size: 2vw;
  }

  .mycl-section-5-right img {
    width: 40vw;
  }

  .mycl-section-5-left .gsp {
    padding: 1vw 1.5vw;
  }

  .mycl-section-5-left .hsn {
    padding: 1vw 1.5vw;
  }

  .mycl-section-5-left .hsn i {
    font-size: 2vw;
  } 

  .mycl-section-5-buttons-div {
    gap: 2vw;
  }

  /* section 6 media queries */

  .mycl-section-6-upper h6 {
    font-size: 2vw;
  }

  .mycl-section-6-upper h1 {
    font-size: 3vw;
  }

  .mycl-section-6-bottom img {
    width: 10vw;
  }

  .mycl-section-6-bottom-card h4 {
    font-size: 2vw;
  }

  .mycl-section-6-bottom-card p {
    font-size: 2vw;
  }

  .mycl-section-6-cards-number {
    width: 5vw;
    height: 5vw;
    font-size: 2vw;
  }

  .mycl-section-6-cards-number-pink {
    width: 5vw;
    height: 5vw;
    font-size: 2vw;
  }

  /* section 7 media queries */

  .mycl-section-7-upper h6 {
    font-size: 2vw;
  } 

  .mycl-section-7-upper h1 {
    font-size: 3vw;
  }

  .mycl-section-7-bottom-card h4 {
    font-size: 2vw;
  }

  .mycl-section-7-bottom-card p {
    font-size: 2vw;
  }

  .mycl-section-7-bottom-card img {
    width: 30vw;
    height: 30vw;
  }

  .mycl-section-7-cr-2nd {
    font-size: 2vw;
  }

  /* footer media queries */

  footer {
    gap: 2vw;
  }

  .mycl-footer-divs {
    gap: 2vw;
    width: 25vw;
  }

  .mycl-footer-divs h5 {
    font-size: 2vw;
  }

  .mycl-footer-divs p {
    font-size: 2vw;
  }

  .mycl-footer-social-icons {
    gap: 2vw;
    font-size: 2vw;
  }

  .mycl-footer-social-div {
    width: 4vw;
    height: 4vw;
  }

  .mycl-footer-divs img {
    width: 10vw;
  }

}